// You can add custom settings here
// for example you can uncomment the following line to force distribution code signing
// CODE_SIGN_IDENTITY = iPhone Distribution 
// To build for device with XCode you need to specify your development team.
// DEVELOPMENT_TEAM = Gary Saunders;
// PROVISIONING_PROFILE = DV4LQ63M96;
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon;

CODE_SIGN_ENTITLEMENTS = GasCheck/GasCheck.entitlements