<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label
      class="action-bar-title"
      text="Home"
      colSpan="2"
    ></Label>
    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout columns="*" rows="auto, 3*" backgroundColor="#000">
  <label textWrap="true" padding="40px">
    <FormattedString color="#fff">
      <span text="You are waiting for: " style="color: white"></span>
      <span text="{{ currentThreshold }} gwei" fontWeight="bold"></span>
    </FormattedString>
  </label>

  <GridLayout
    padding="40px"
    row="1"
    columns="*"
    rows="*,*"
    backgroundColor="#000"
    verticalAlignment="stretch"
  >
    <label
      class="main-value"
      verticalAlignment="bottom"
      horizontalAlignment="center"
      textWrap="true"
      padding="40px"
    >
      <FormattedString color="#fff">
        <span text="{{ safeGasPrice }}" fontWeight="bold"></span>
        <span
          text="gwei"
          fontSize="16px"
          fontWeight="normal"
          color="#3b3b3b"
        ></span>
      </FormattedString>
    </label>

    <ActivityIndicator
      *ngIf="safeGasPrice == undefined"
      [busy]="safeGasPrice == undefined"
      (busyChange)="onBusyChanged($event)"
    >
    </ActivityIndicator>

    <Label
      color="#555"
      class=""
      verticalAlignment="bottom"
      horizontalAlignment="center"
      padding="10px"
      text="Current average rate, refreshes every 5 seconds."
      row="1"
      col="0"
    ></Label>
  </GridLayout>
</GridLayout>
