<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>




<GridLayout>
  <Label lineHeight="100" text="Set gwei threshold for alert!!!!" row="0" col="0" backgroundColor="#43b883"></Label>
    <StackLayout>
      <Slider
      value="10"
      minValue="0"
      maxValue="100"
      (valueChange)="onSliderValueChange($event)"
      >
      </Slider>
    </StackLayout>
  
</GridLayout>
