<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Settings" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>




<GridLayout columns="*" rows="100, auto, auto, auto" backgroundColor="#cccccc">

    <GridLayout columns="*, auto">
      <Label padding="20" text="Enable alerts"></Label>
      <Switch height="100" checked="{{isEnabled}}" (checkedChange)="onCheckedChange($event)"> </Switch>
      
    </GridLayout>
    

  <!-- <Label height="100" text="Set gwei threshold for alert!!!!" row="0" col="0" backgroundColor="#43b883"></Label> -->
  <StackLayout row="1" col="0" *ngIf="isEnabled">
    <Slider
    value="{{gasThreshold}}"
    minValue="0"
    maxValue="200"
    (valueChange)="onSliderValueChange($event)"
    >
    </Slider>
  </StackLayout>
  
  <Label *ngIf="isEnabled" class="my-label" padding="40px" text="{{gasThreshold}} gwei" row="2" col="0" backgroundColor="#43b883"></Label>


  <!-- <Button (tap)="saveThreshold()" text="Save"></Button> -->


</GridLayout>
